@charset "utf-8";

// Synthwave Color Scheme
$theme-color-light: #fbe7f8;           
$theme-color-medium: #2d1b69;          
$theme-color-dark: #38004b;            
$theme-color-accent: #6c20b2;          
$theme-color-accent-text: #fecb71;     
$theme-color-accent-link:  #8fcafb;
$theme-color-accent-link-hover: #00ffd2; 
$color-text: #f4eee4;                  
$color-link: #8fcafb;                  
$color-link-hover: #00ffd2;            
$color-link-visited: #8b5cf6;          
$color-divider: #393b6c